language: python

python:
  - "3.7"
  - "3.8"

install:
  - pip install coveralls
  - pip install -r requirements.txt

script:
  - coverage run --source=pbtools setup.py test
  - make test-c
  - make -C examples/c
  - make -C benchmark ITERATIONS=1

after_success:
  - coveralls
  - bash <(curl -s https://codecov.io/bash) -X coveragepy
